<div id="services">
    <div class="logo-bg">
        <div id="service-card" class="card service-card">
            <div class="service-title">
                <h2>Nos Services</h2>
            </div>
            <div class="description">
                <div id="scroll-container">
                    <div id="scroll-text">
                        <h4 class="c">Logiciel</h4>&#x25E6;
                        <h4 class="c">Applications Mobile</h4>&#x25E6;
                        <h4 class="c">Infonuagique</h4>
                    </div>
                </div>
                <p>Nous concevons des logiciels, applications mobiles et plateformes web qui vous propulsent à l'étape suivante. Les produits personnalisés que nous créons
                    sont fabriquées en partenariat avec votre responsable de projet. Notre processus de développement
                    par itération, vous permet d'avoir des comptes rendus réguliers et un meilleur contrôle sur les différents aspects de votre produit final.</p>
                     <br />
                     <p class="pitch">Grâce à notre expertise en programmation de systèmes informatique, nous sommes en mesure de mettre en œuvre des solutions créatives
                         et performantes qui vous offriront un excellent retour sur investissement.
                    </p>
                     <br />
                <p>Nous somment en mode solutions pour produire les meilleurs résultats en fonction de vos objectifs et de vos besoins.</p>
                     <br />
                     <p><span class="pitch">Pour vous offrir des systèmes adaptés et fonctionnels, nous utilisons des processus de développement éprouvés, en respectant des normes de programmation strictes qui garantissent la pérennité des systèmes.</span></p>
                     <br />
                     <a href="#contact" aria-label="Contactez-nous pour en savoir plus.">Contactez-nous pour en savoir plus.</a>
                     <div id="scroll-container">
                        <div id="scroll-text2">
                            <h4 class="c">Gestion</h4>&#x25E6;
                            <h4 class="c">Analyse</h4>&#x25E6;
                            <h4 class="c">Automatisation</h4>&#x25E6;
                            <h4 class="c">Communication</h4>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
