<div id="mission">
    <div class="mission">
        <div class="mission-description">
             <h2 class="text-center mvv">Mission</h2>
             <p class="text-center">Chez NumériqueSL, nous offrons des outils informatiques personnalisées qui répondent à vos besoins spécifiques dans un esprit collaboratif. 
                 Nous somment fières de fournir des plateformes qui facilitent la gestion, la production et la mise en marché, vous permettant de rencontrer vos objectifs d'affaires.</p>
             <h2 class="text-center mvv">Vision</h2>
             <p class="text-center">Devenir un partenaire reconnu pour ses compétences à travers le Canada.</p>
             <h2 class="text-center mvv">Valeurs</h2>
             <p class="text-center">Nous pensons que l'intégrité et la transparence sont essentielles pour devenir votre partenaire et être au plus près de vos besoins.</p><br/>
             <p class="text-center">La recherche de l'excellence et de la précision repousse sans cesse nos limites.</p><br />
         </div>
     </div>
 </div>
 