.video-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
h1{
    border-bottom: 1px solid #0049DE;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.heading-title {
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    color: #fff;
    margin:auto;
    position:absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    background: rgba(0, 73, 222, 0.40);
    border-right: 2px solid var(--primary-color1);
    border-bottom: 2px solid var(--primary-color1);
    border-radius: 0 0 20px 0;
    padding: 50px;
}

@media only screen and (max-width: 1700px){
    .heading-title {
        padding: 20px !important;
    }
}

@media only screen and (max-width: 576px){
    .heading-title {
        left: 5%;
        right: 5%;
    }
}